<!DOCTYPE html>
<html>
<head>
	<title>Web Guesser - Guess Numbers!</title>
	<style type="text/css">
		bod
	</style>
</head>
<body bgcolor= <%= bg_color %> >
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!"/>
	</form>

	<p><%= message %></p>
	<% if correct %>
	<p>The secret number is <%= number %></p>
	<% end %>
</body>
</html>